<!DOCTYPE html>
<html lang="ko">
<head>
	<title>SOOJLE</title>
	<meta name="author" content="Team IML">
	<meta name="keywords" content="세종,세종대학교,세종정보,세종검색,세종커뮤니티">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="##232833">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!-- shortcut 아이콘 -->
	<link rel="icon" type="image/png" href="/static/image/shortcut.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/image/shortcut.png">
	<!-- 아이콘 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link href="/static/css/main.css" rel="stylesheet">
</head>
<body style="overflow-y: hidden; overflow-x: hidden;">
	<div id="SJ_main_background" class="SJ_main_background"></div>
	<div class="page_section">
		<img src="/static/image/SOOJLE_LOGO.png" class="logo pointer" onclick="Gohome()">
		<div class="SJ_main_page1_logo_container_box">
			<img src="/static/image/SOOJLE_LOGO_BIG.png" class="SJ_main_page1_logo_container">
			<div id="SJ_main_page1_search_container" class="SJ_main_page1_search_container">
				<div id="SJ_main_page1_search_bar" class="SJ_main_page1_search_bar"></div>
				<div id="SJ_main_page1_search_box" class="SJ_main_page1_search_box">
					<input type="text" id="SJ_main_page1_search_input" class="SJ_main_page1_search_input" onfocus="search_focus()" onblur="search_blur()">
					<div class="SJ_main_page1_search_icon_box">
						<object type="image/svg+xml" data="/static/icons/search.svg" class="SJ_main_page1_search_icon"></object>
						<div class="SJ_main_page1_search_icon_button pointer"></div>
					</div>
				</div>
				<div id="SJ_main_page1_search_list_box" class="SJ_main_page1_search_list_box display_none">
					<div class="SJ_main_page1_search_list_p pointer">
						<object type="image/svg+xml" data="/static/icons/search.svg" class="SJ_main_page1_search_list_icon"></object> 
						<span> 111111111</span>
					</div>
					<div class="SJ_main_page1_search_list_p pointer">
						<object type="image/svg+xml" data="/static/icons/search.svg" class="SJ_main_page1_search_list_icon"></object>
						<span> 222222222</span>
					</div>
					<div class="SJ_main_page1_search_list_p pointer">
						<object type="image/svg+xml" data="/static/icons/search.svg" class="SJ_main_page1_search_list_icon"></object>
						<span> 333333333</span>
					</div>
					<div class="SJ_main_page1_search_list_p pointer">
						<object type="image/svg+xml" data="/static/icons/search.svg" class="SJ_main_page1_search_list_icon"></object>
						<span> 444444444</span>
					</div>
				</div>
			</div>
		</div>
		<div id="SJ_main_page1_hyper_button_box" class="SJ_main_page1_hyper_button_box">
			<div class="SJ_main_page1_hyper_button pointer" onclick="Goboard()">
				<i class="fas fa-file-import SJ_main_page1_hyper_button_icon"></i>
				<div class="SJ_main_page1_hyper_button_text_box">
					<p class="SJ_main_page1_hyper_button_text">Import</p>
					<p>Get Started</p>
				</div>
			</div>
		</div>
	</div>
	<div class="page_section">
	</div>
	<div class="page_section">
	</div>


	<div id="loading" class="loading">
		<div class="cube">
		  <div class="top"></div>
		  <div class="right"></div>
		  <div class="bottom"></div>
		  <div class="left"></div>
		  <div class="front"></div>
		  <div class="back"></div>
		</div>
		<p class="cube_text">Loading ..</p>
	</div>
</body>

<!-- JQuery JS -->
<script src="/static/js/jquery/jquery.min.js"></script>
<!-- MAIN JS -->
<script src="/static/js/main.js"></script>
</html>

<!-- 주 색상표
:root {
	--sj_deepdark_color: #2A2A2A;
	--sj_litedark_color: #EDEDED;
	--sj_mediumdark_color: #E0E0E0;
	--sj_accentdark_color: #050505;
	--sj_deepred_color: #c30e2e;
	--sj_litered_color: #DF0101;
}
-->