<!DOCTYPE html>
<html lang="ko">
<head>
	<title>SOOJLE</title>
	<meta name="author" content="Team IML">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="#050505">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!-- shortcut 아이콘 -->
	<link rel="icon" type="image/png" href="/static/image/shortcut.png">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/image/shortcut.png">
	<!-- 아이콘 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Custom CSS -->
	<link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="SJ_main_page1">
		<img src="/static/image/LOGO_test.png" class="logo">
		<div class="SJ_main_page1_c1_container">
			<img class="SJ_main_page1_c1">
		</div>
		<div class="SJ_main_page1_c2">
			<p class="SJ_main_page1_c2_title noselect">Everything<span style="color: #DF0101">!</span></p>
			<p class="SJ_main_page1_c2_sub noselect">남다른 정보</p>
			<p class="SJ_main_page1_c2_sub noselect">남다른 접근성</p>
		</div>
		<div class="SJ_main_page1_c3">
			<div class="SJ_main_page1_c3_bar"></div>
			<div class="SJ_main_page1_c3_searchbar_container">
				<input type="text" placeholder="세종대학교의 모든 것" class="SJ_main_page1_c3_searchbar">
				<div class="SJ_main_page1_c3_searchicon"><i class="fas fa-search"></i></div>
			</div>
		</div>
		<button id="SJ_main_introduce_button" class="SJ_main_introduce_button"><i class="far fa-caret-square-down"></i></button>
	</div>
	<div class="SJ_main_page2"></div>
</body>

<!-- JQuery JS -->
<script src="/static/js/jquery/jquery.min.js"></script>
<!-- MAIN JS -->
<script src="/static/js/main.js"></script>
</html>

<!-- 주 색상표
:root {
	--sj_deepdark_color: #2A2A2A;
	--sj_litedark_color: #E0E0E0;
	--sj_accentdark_color: #050505;
	--sj_deepred_color: #c30e2e;
	--sj_litered_color: #DF0101;
}
-->