/*
// Animation kit
    -webkit-transform: ;
       -moz-transform: ;
       	-ms-transform: ;
    	 -o-transform: ;
    	    transform: ;
*/

/*NanumGothic Font*/
@font-face { 
	font-family: 'NanumGothic';
	src: url('../fonts/NanumBarunGothic/NanumGothic.eot') format('embedded-opentype'),
	url('../fonts/NanumBarunGothic/NanumGothic.woff') format('woff');
}
@font-face { 
	font-family: 'NanumGothicBold';
	src: url('../fonts/NanumBarunGothic/NanumGothicBold.eot') format('embedded-opentype'),
	url('../fonts/NanumBarunGothic/NanumGothicBold.woff') format('woff');
	font-weight: bold;
}
/*NanumvBarunGothic Font*/
@font-face { 
	font-family: 'NanumBarunGothic';
	src: url('../fonts/NanumBarunGothic.eot');
	src: url('../fonts/NanumBarunGothic.eot') format('embedded-opentype'),
	url('../fonts/NanumBarunGothic.woff') format('woff');
}
@font-face { 
	font-family: 'NanumBarunGothicBold';
	src: url('../fonts/NanumBarunGothicBold.eot');
	src: url('../fonts/NanumBarunGothicBold.eot') format('embedded-opentype'),
	url('../fonts/NanumBarunGothicBold.woff') format('woff');
}
/*AppleSandleNeo Font*/
@font-face { 
	font-family: 'AppleSdNeo';
	src: url('../fonts/AppleSdNeo/AppleSDGothicNeoUL.ttf') format('truetype');
	font-weight: 300;
}
@font-face { 
	font-family: 'AppleSdNeo';
	src: url('../fonts/AppleSdNeo/AppleSDGothicNeoR.ttf') format('truetype');
	font-weight: 500;
}
@font-face { 
	font-family: 'AppleSdNeo';
	src: url('../fonts/AppleSdNeo/AppleSDGothicNeoB.ttf') format('truetype');
	font-weight: 800;
}

input:focus, textarea {
    outline: none;
}
/*All control CSS*/
:root {
	--sj_deepdark_color: #2A2A2A;
	--sj_litedark_color: #E0E0E0;
	--sj_accentdark_color: #050505;
	--sj_deepred_color: #c30e2e;
	--sj_litered_color: #DF0101;
}

/*public element CSS*/
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.logo {
	display: none;
	position: absolute;
	top: 25px;
	left: 10%;
	z-index: 100;
	width: 30px;
	height: 30px;
}
@media screen and (max-width: 1100px) {
	.logo { left: 30px }
}
@media screen and (max-width: 450px) {
	.logo { left: 10px; display: none; }
}
.display_none { display: none !important }
.c_red { color: #DF0101 }
.c_white { color: #E0E0E0; }
.pointer {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}




/*input focus placeholder hide*/
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent }
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent }
a {
	color: black;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
* {
	font-family: 'AppleSdNeo', 'sans-serif';
	-webkit-overflow-scrolling: touch;
	z-index: inherit;
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	scroll-behavior: smooth;
	 -webkit-overflow-scrolling: touch;
}
html {
	background-color: black;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
body {
	font-family: 'AppleSdNeo', 'sans-serif';
}
@media screen and (min-width: 1400px) {
	body { overflow-x: hidden }
}
/*Main CSS*/
.SJ_main_page_container {
	-ms-overflow-style: none;
}/*
.SJ_main_page_container::-webkit-scrollbar {
	display: none; 
}*/
.SJ_main_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 83%;
	background-color: #26262b;
	border-bottom: 6px solid #2A2A2A;
	box-shadow: 0 0 20px #2A2A2A;
}
.page_section {
	position: relative;
	width: 100%;
	height: 95vh;
	top: 0;
}
.page_section:nth-child(1) {
	background-color: white;
}
.page_section:nth-child(2) {
	padding-top: 300px;
}
@media screen and (max-width: 450px) {
	.page_section:nth-child(2) {
		padding-top: 100px;
	}
}
.SJ_main_page1_logo_container_box {
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 200px;
	z-index: 10;
}
.SJ_main_page1_logo_container {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}
.SJ_main_page1_search_container {
	position: relative;
	width: 70%;
	max-width: 700px;
	height: 40px;
	margin-top: 25px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	bottom: 0;
	transition: .2s ease;
	-webkit-transition: .2s ease;
	z-index: 40;
}
.SJ_main_page1_search_bar {
	position: relative;
	display: inline-block;
	float: left;
	height: 44px;
	width: 10px;
	background-color: #c30e2e;
	transition: .2s ease;
	-ms-transition: .2s ease;
	-webkit-transition: .2s ease;
	margin-right: 10px;
	opacity: 0.6;
}
.SJ_main_page1_search_bar_checked {
	background-color: #DF0101;
	box-shadow: 0 0 10px #DF0101;
	opacity: 1;
}
.SJ_main_page1_search_box {
	position: relative;
	display: inline-block;
	float: left;
	height: 36px;
	width: 94%;
	margin-left: 3%;
	background-color: white;
	border-radius: 50px;
	border: 2px solid black;
	transition: .1s ease;
	-webkit-transition: .1s ease;
}
.SJ_main_page1_search_box:hover {
	box-shadow: 2px 5px 10px rgba(100, 100, 100, 0.3);
}
.SJ_main_page1_search_input {
	position: relative;
	display: inline-block;
	float: left;
	height: 24px;
	width: 84%;
	padding: 6px 4%;
	border: none;
	background-color: rgba(0,0,0,0);
	font-size: 18px;
	line-height: 32px;
}
.SJ_main_page1_search_input:focus, .SJ_main_page1_search_input:active {
	outline: none;
}
.SJ_main_page1_search_icon_box {
	position: relative;
	display: inline-block;
	float: left;
	height: 36px;
	width: 8%;
	border: none;
}
.SJ_main_page1_search_icon {
	position: relative;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.SJ_main_page1_search_icon_button {
	position: relative;
	width: 24px;
	height: 24px;
	opacity: 0.8;
	padding: 6px 5px 6px 10px;
}
@media screen and (max-width: 800px) {
	.SJ_main_page1_search_box {
		width: 93%;
	}
	.SJ_main_page1_search_input {
		width: 82%;
	}
	.SJ_main_page1_search_icon_box {
		width: 8%;
	}
}
@media screen and (max-width: 650px) {
	.SJ_main_page1_search_box {
		width: 94%;
	}
	.SJ_main_page1_search_input {
		width: 82%;
	}
	.SJ_main_page1_search_icon_box {
		width: 8%;
	}
}
@media screen and (max-width: 400px) {
	.SJ_main_page1_search_input{
		width: 78%;	
	}
	.SJ_main_page1_search_icon_box {
		width: 12%;
	}
}
.SJ_main_page1_search_list_box {
	position: relative;
	display: inline-block;
	width: 94%;
	max-width: 700px;
	min-height: 40px;
	height: auto;
	margin-top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	transition: .2s ease;
	-webkit-transition: .2s ease;
	z-index: 40;
}
@media screen and (max-width: 450px) {
	.SJ_main_page1_search_list_box {
		position: absolute;
		width: 100%;
		max-width: 700px;
		height: auto;
		min-height: auto;
		border: none;
		border-radius: 0;
		left: 50%;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		background-color: rgba(0,0,0,0);
		z-index: 50;
		margin-top: 0;
	}
}
.SJ_main_page1_search_list_p {
	position: relative;
	float: left;
	height: 40px;
	width: 90%;
	padding: 0 5%;
	border: none;
	font-size: 16px;
	line-height: 40px;
	background-color: rgba(0,0,0,0);
}
.SJ_main_page1_search_list_p:hover {
	background-color: #f2f2f2;
}
.SJ_main_page1_search_list_icon {
	position: relative;
	width: 16px;
	height: 16px;
	opacity: 0.5;
	padding-left: 5px;
}
.SJ_main_page1_search_list_text {
	padding-left: 10px;
}
@media screen and (max-width: 1500px) {
	.SJ_main_page1_logo_container_box {
		padding-top: 200px;
	}
}
@media screen and (max-width: 900px) {
	.SJ_main_page1_logo_container {
		width: 500px;
	}
}
@media screen and (max-height: 700px){
	.SJ_main_page1_logo_container_box {
		padding-top: 100px;
	}
}
@media screen and (max-width: 650px) {
	.SJ_main_page1_logo_container_box {
		padding-top: 100px;
	}
	.SJ_main_page1_logo_container {
		width: 400px;
	}
	.SJ_main_page1_search_container {
		width: 90%;
	}
}
@media screen and (max-width: 450px) {
	.SJ_main_page1_logo_container_box {
		padding-top: 60px;
	}
	.SJ_main_page1_logo_container {
		width: 280px;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.SJ_main_page1_search_container {
		width: 100%;
	}
}
@media screen and (max-width: 450px) and (max-height: 350px) {
	.SJ_main_page1_logo_container_box {
		padding-top: 30px;
	}
}

@media screen and (orientation: landscape) and (max-width: 1400px) {
	.SJ_main_page1_logo_container_box {
		padding-top: 150px;
	}
}
@media screen and (orientation: landscape) and (max-width: 1000px) {
	.SJ_main_page1_logo_container {
		padding-top: 40px
		width: 400px;
	}
}
@media screen and (orientation: landscape) and (max-width: 900px) {
	.SJ_main_page1_logo_container_box {
		padding-top: 40px;
	}
}
@media screen and (orientation: landscape) and (max-width: 650px) {
	.SJ_main_page1_logo_container {
		width: 300px;
	}
}
@media screen and (orientation: landscape) and (max-height: 400px) and (max-width: 500px){
	.SJ_main_page1_logo_container_box {
		padding-top: 60px;
	}
	.SJ_main_page1_logo_container {
		width: 280px;
	}
}
.search_info_text {
	position: absolute;
	width: 90px;
	height: 30px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	font-size: 20px;
	color: black;
	bottom: 0;
	line-height: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 800;
	border-bottom: 2px solid black;
	transition: .1s ease-in-out;
}
.search_info_text:hover {
	color: #c30e2e;
	border-bottom: 2px solid #c30e2e;
}

.SJ_info_title {
	position: relative;
	width: auto;
	height: 120px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	font-size: 100px;
	font-weight: 800;
	line-height: 120px;
	color: white;
	text-align: center;
}
.Sj_info_subtitle {
	position: relative;
	width: auto;
	height: 40px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	font-size: 30px;
	font-weight: 800;
	line-height: 40px;
	color: rgba(255,255,255,.5);
	text-align: center;
}
@media screen and (max-width: 450px) {
	.SJ_info_title {
		position: relative;
		width: auto;
		height: 80px;
		left: 50%;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		font-size: 60px;
		font-weight: 800;
		line-height: 80px;
		color: white;
		text-align: center;
	}
	.Sj_info_subtitle {
		position: relative;
		width: auto;
		height: 30px;
		left: 50%;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		font-size: 16px;
		font-weight: 800;
		line-height: 30px;
		color: rgba(255,255,255,.5);
		text-align: center;
	}
}
.SJ_info_link {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	position: relative;
	width: 200px;
	height: 40px;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
	color: rgba(255,255,255,.5);
	text-align: center;
	transition: .1s ease-in-out;
	cursor: pointer;
	margin-top: 20px;
}
.SJ_info_link:hover, .SJ_info_link:active {
	color: #c30e2e;
}
.mobile_search_modal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	border-top: 2px solid black;
	z-index: 100;
}
.mobile_search_header {
	position: relative;
    display: inline-block;
    float: right;
    width: 550px;
    height: 50px;
    background-color: rgba(0,0,0,0);
}
@media screen and (max-width: 450px) {
	.mobile_search_header {
		position: relative;
		display: inline-block;
		float: right;
		margin-right: 10px;
		width: 70%;
		height: 50px;
		background-color: rgba(0,0,0,0);
	}
}
.mobile_search_body {
	position: relative;
	width: 100%;
	height: 95%;
	top: 0;
}
.mobile_search_input {
	position: relative;
    float: right;
    top: 15px;
    height: 20px;
    width: 84%;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    line-height: 25px;
    background-color: rgba(0,0,0,0);
}
@media screen and (max-width: 450px) {
	.mobile_search_input {
		position: relative;
		float: right;
		top: 15px;
		height: 20px;
		width: 70%;
		border: none;
		padding: 0 10px;
		font-size: 16px;
		line-height: 25px;
		background-color: rgba(0,0,0,0);
	}
}


/* Loading CSS ================================================================*/
.loading_modal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 200;
	background-color: rgba(0,0,0,.8);
	visibility: visible;
	opacity: 1;
	transition: 0s ease-in-out;
}
.loading_modal_unvisible {
	visibility: hidden;
	opacity: 0;
}
svg {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

.stroke-still {
  stroke: #232323;
}

.stroke-animation {
  -webkit-animation: stroke-spacing 1.4s ease-in, stroke-color 4.8s linear;
          animation: stroke-spacing 1.4s ease-in, stroke-color 4.8s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@-webkit-keyframes stroke-color {
  0%  { stroke: #C30E2E; }
  24% { stroke: #C30E2E; }
  25% { stroke: #C30E2E; }
  49% { stroke: #C30E2E; }
  50% { stroke: #C30E2E; }
  74% { stroke: #C30E2E; }
  75% { stroke: #C30E2E; }
  99% { stroke: #C30E2E; }
}

@keyframes stroke-color {
  0%  { stroke: #C30E2E; }
  24% { stroke: #C30E2E; }
  25% { stroke: #C30E2E; }
  49% { stroke: #C30E2E; }
  50% { stroke: #C30E2E; }
  74% { stroke: #C30E2E; }
  75% { stroke: #C30E2E; }
  99% { stroke: #C30E2E; }
}



/* COPY CSS ====================================================================*/
.copy_input {
	position: absolute;
	top: -100;
	left: 0;
	opacity: 0;
}
/* Snackbar CSS ================================================================*/
.snackbar_target {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	height: 50px;
	width: 300px;
	z-index: 199;
}
.snackbar {
	position: absolute;
	width: 280px;
	height: 30px;
	border-top: 2px solid #c30e2e;
	background-color: #262626;
	box-shadow: 0 3px 5px rgba(0,0,0,.2);
	border-radius: 5px;
	text-align: center;
	padding: 10px 10px;
	line-height: 30px;
	font-size: 16px;
	color: white;
	cursor: pointer;
}
@media screen and (max-width: 1200px) {
	.snackbar_target {
		width: 100%;
		height: 40px;
		bottom: 0;
	}
	.snackbar {
		width: 100%;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
		border-radius: 0;
		padding: 10px 0;
		z-index: 50;
	}
}
