<!DOCTYPE html>
<html lang="ko">
<head>
	<title>SOOJLE</title>
	<meta name="author" content="Team IML">
	<meta name="keywords" content="세종,세종대학교,세종정보,세종검색,세종커뮤니티">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<!-- 모바일 브라우저 상태바 컬러 -->
    <meta name="theme-color" content="##232833">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<!-- shortcut 아이콘 -->
	<link rel="icon" type="image/png" href="/static/image/shortcut.jpg">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="/static/image/shortcut.jpg">
	<!-- 아이콘 -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- Chart CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
	<!-- Custom CSS -->
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/analysistics.css" rel="stylesheet">
</head>
<body>
	<iframe src="/gensim" frameborder="0" width="100%" height="100%" align="top middle"></iframe>
	<div id="loading" class="loading_modal">
		<svg width="200" height="200" viewBox="0 0 100 100">
			<polyline class="line-cornered stroke-still" points="0,0 100,0 100,100" stroke-width="5" fill="none"></polyline>
  			<polyline class="line-cornered stroke-still" points="0,0 0,100 100,100" stroke-width="5" fill="none"></polyline>
		 	<polyline class="line-cornered stroke-animation" points="0,0 100,0 100,100" stroke-width="5" fill="none"></polyline>
			<polyline class="line-cornered stroke-animation" points="0,0 0,100 100,100" stroke-width="5" fill="none"></polyline>
		</svg>
	</div>
</body>

<!-- JQuery JS -->
<script src="/static/js/jquery/jquery.min.js"></script>
<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<!-- Snackbar JS -->
<script src="/static/js/snackbar.js"></script>
<!-- MAIN JS -->
<script src="/static/js/main.js"></script>
</html>

<!-- 주 색상표
:root {
	--sj_deepdark_color: #2A2A2A;
	--sj_litedark_color: #EDEDED;
	--sj_mediumdark_color: #E0E0E0;
	--sj_accentdark_color: #050505;
	--sj_deepred_color: #c30e2e;
	--sj_litered_color: #DF0101;
}
-->